<h2>
  Produto selecionado:
  @if (produtoSelecionado()) {
    <strong>
      {{ produtoSelecionado()?.nome }} - {{ produtoSelecionado()?.preco | precoBrlFormatado }}
    </strong>
  } @else {
    <span>Nenhum</span>
  }
</h2>

<p><button (click)="adicionarProduto()">Adicionar Produto</button></p>

@if (carregando()) {
  <p>Carregando produtos...</p>
}

@if (erro()) {
  <p style="color: red">
    {{ erro() }}
  </p>
  <button (click)="carregarProdutos()">Tentar novamente</button>
}

@if (!carregando() && !erro()) {
  <p>Total de produtos: {{ totalProdutos() }}</p>
  <hr />

  @for (produto of produtos(); track $index) {
    <app-produto
      [nome]="produto.nome"
      [preco]="produto.preco"
    ></app-produto>
  }
}

<h2>Total de produtos: {{ totalProdutos() }}</h2>
<h3>Valor total: {{ valorTotal() | precoBrlFormatado }}</h3>

<hr />

<h2>Carrinho</h2>

@if (quantidadeCarrinho() === 0) {
  <p>Sem produtos no carrinho</p>
} @else {
  @for (item of carrinho(); track $index) {
    <p>{{ item.nome }} - {{ item.preco | precoBrlFormatado }}</p>
  }
  <strong>Valor total do carrinho: {{ totalCarrinho() | precoBrlFormatado }}</strong>
}
